<div class="form-inline" action="">
  <div class="form-group mb-2">
    <label for="filtro">Filtro:</label>
    <input type="text" id="filtro" 
    class="form-control ml-2 mr-2" 
    placeholder="Buscar"
    [(ngModel)] = "filtroLista">
  </div>
</div>
<h4>Filtro: {{filtroLista}}</h4>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem();">
          Mostrar
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
         <img *ngIf="mostrarImagem"
         src="{{evento.imagemUrl}}" 
         [style.width.px]="imagemLargura"
         [style.margin.px]="imagemMargem"> 
      </td>
      <td>{{evento.eventoID}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdePessoas}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h5>Nenhum evento encontrado!</h5>
      </td>
    </tr>
  </tfoot>
</table>
